body{
                background-color: whitesmoke;
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: center;

            }
            .container{
                background-color: #2f4f8e;
                border-radius: 20px;
                width: 600px;
                height: 400px;
                padding: 20px;
            }
            h2{
                color: #fff;
                text-align: center;
                text-transform: uppercase;
                font-size: 24px;
            }
            .create-list{
                display: flex;
                border-radius: 16px;
            }
            .create-list input{
                padding: 16px;
                flex: 1;
                border-radius: 16px;
            }
            #create-btn{
                background-color: #e90810;
                color: #000;
                font-weight: 600;
                font-size: 16px;
                padding: 16px 20px;
                border-radius: 16px;
            }
            .listitems{
                color: #fff;
                font-size: 18px;
            }
            .listitems li{
                list-style: none;
                line-height: 2.5;
            }
            .listitems li::before{
                content: '☐';
                font-size: 16px;
                padding-right: 12px;
            }
            .listitems li.checked::before{
                content: '☑';
                font-size: 16px;
                padding-right: 12px;
            }
            .listitems li.checked{
                text-decoration: line-through;
            }
            .del-but{
              background-color: #2f4f8e;
              font-size: 16px;
              padding: 4px ;
              border-radius: 8px;
              position: absolute;
              left: 1020px;
            }